@font-face {
    font-family: captionFont;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    height: 100vh;
}

.visuals {
    position: relative;
    width: 30%;

}

.bg-img {
    width: 100%;
    min-height: 100%;
    color: red;

}

.caption {
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;

}

.odin-img {
    width: 6rem;
}

.caption span {
    color: white;
    font-family: captionFont, Helvetica, Arial, sans-serif;
    font-size: 5rem;
}

.form-area {
    background-color: #f4f4f4;
    width: 70%;
    padding-top: 3em;
}

.form-area .para {
    padding-left: 2em;
}

.form-area p {
    width: 55ch;
    padding-bottom: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}


.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.5em;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="tel"]:focus,
.form-row input[type="password"]:focus {
    border: 1px solid rgb(4, 127, 158);
    box-shadow: 2px 2px 5px grey;
    outline: none;
} 

.form-row label {
    padding-bottom: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.2ch;
    word-spacing: 0.8ch;
    font-size: 0.8rem;
    font-weight: 550;
}

.login-details legend {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1.2em;
    padding-bottom: 0.8;

}
.login-details-container {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}

.login-details {
    padding-left: 2em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.form-row {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    padding-left: 0px;
    width: 250px;
}

.form-row input[type="password"]:invalid {
    border: 1px solid red;
} 

form {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.form-row input[type="password"]::placeholder {
    font-size: 0.6rem;
}
.form-btn {
    padding-left: 2em;
    padding-top: 0.8em;
}
.form-btn button {
    padding: 0.6em 1.8em;
    background-color: #596D48;
    color: white;
    border-radius: 0.4em;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 2px 2px 5px grey;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.form-area .login {
    padding-left: 2em;
    font-family: Helvetica, Arial, sans-serif;
}

.login span {
    font-size: 1rem;
}
.login a {
    color: #596D48;
    text-decoration: none;
    font-weight: 550;
}